body 
{
    background-image:url('../App_Themes/Soccer_background.jpg');
}

banner {
width:1000px;
margin:0 auto;
}

table { margin: auto;
    color: black;
}


title 
{
text-align:center;
font-size: 30px;
font-style:normal;


}

.content
{
 margin-left:auto;
 margin-right:auto;
 width:1000px;
 background-color:white;
 border-left: thin solid black;
 border-right: thin solid black;
 position:relative; 
 height:100%; 
 color:black;
}

.header
{
    width:1000px;
    height:200px;
    
}

.footer
{
 background-color:white;
 margin-left:auto;
 margin-right:auto;
 width:1000px;
}

.menu
{
    text-align:center;
    font-family:Book Antiqua;
    font-size:larger;
    font-weight:bold;
    margin-top: 0px;
}

/* Track Changes 1*/
