body 
{
    /*background-color:Gray;*/
    background-image:url('../images/soccerball.jpg');
    background-attachment: fixed;
    height:100%;

    
    
    
}

html,form {
	height: 100%;
}


#center
{
    text-align:center;
    margin:0 auto;
    Display:table;
}

#content
{
 margin-left:auto;
 margin-right:auto;
 width:1275px;
 background-color:white;
 border-left: thin solid black;
 border-right: thin solid black;
 position:relative; 
 height:100%; 
}